## Markdown Basics
* **Bold**
* *Italic*
* ***IB***
* Normal text
  * Sublist 1
  * Sublist 2


> 1. ordered list element 1
> 2. ordered list element 2


- [x] Option 1
- [x] Option 2
- [x] Option 3



[Beach](beach.png)
[Dog](dog.png)

<img src="dog.png" style="float:left">
  
  `printf("hello markdown")`
  
  
  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"
  
   <https://google.com>
  
  Markdown@google.com

## Python Basics  

Python Version 3.7

- Scripting
- Object Oriented
- Functional

In [5]:
# Pyhton Comments

print("Good Afternoon", " ! ", end=" ||") # Basic Output
print("Hello Python")

Good Afternoon  !  ||Hello Python

### Assignment

In [16]:
n1 = 123456 # Single Varible Assignment

n2 = n3 = n4 = n1   # Multi variable Assignment of the same value 
 
a, b, c = 123, 234, 345  # Multo variable Assignment with different value
print (a,b,c)

123 234 345

## Data Types
- int
- float
- string

In [14]:


s1 = "python"
type(s1)

f1 = 12.345
type(f1)

int(f1)
float(str(int(f1)))

12.0

## Arithmatic Operations
-  +
-  -
- *
- /
- **
- %

In [ ]:
n1 % 11
n3 = n2 ** 12345
type(n3)
#len(str(n3))

In [5]:
atoms = 10 ** 82
len(str(atoms))
type(str(atoms))
atoms

10000000000000000000000000000000000000000000000000000000000000000000000000000000000

## Conditionals

In [21]:
if atoms < 10 ** 9:
    print ("TRUE")
else:
    print("FALSE")

FALSE

In [23]:
# Check if a number is Even
n = 12
if n % 2 ==0:
    print ("Even")
else:
    print("odd")

Even

In [25]:
n = 6
if n % 2!=0:
    print ("odd")
else:
    print("even")

even

In [32]:
# find the greatest of three numbers
n1 = int(input("Enter the first number"))
n2 = int(input("Enter the second number"))
n3 = int(input("Enter the third number"))
if n1 > n2 and n1 > n3:
    print(n1, "is the greatest")
elif n2 > n3:
    print(n2, "is the greatest")
else:
    print(n3, "is greatest")

Enter the first number-1
Enter the second number-100
Enter the third number-50
-1 is the greatest

In [ ]:
#to Check if given year is a leap year or not

In [5]:
year = int(input("enter year to be checked"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("the year is a leap year")
else:
    print("the is not a leap year")

enter year to be checked2019
the is not a leap year

In [7]:
#  count the Number of digits in a given number
n1=123456
print(len(str(n1)))

6

In [9]:
n1 = 60
lb = 50
ub = 30
if n1 >= lb and n1<= ub:
    print("number exist in the given range")
else:
    print(n1,"does not exist in the given range")

60 does not exist in the given range

In [15]:
# Check if given string is equal to a number
s1 = "pyhton"
n1 = 12345
if(str(n1)) == s1:
    print(n1, "is equal to", s1)
else:
    print(n1, "is not equal to", s1)

12345 is not equal to pyhton

In [18]:
# Calculate the number of nano seconds in a given year (considering leap year logic)
year = 2019
if(year%4==0 and year%100!=0 or year%400==0):
    print(366 * 24 * 60 * 60*(10**9))
else:
    print(365 * 24 * 60 * 60*(10**9))

31536000000000000

In [17]:
#Calculate the square root of a number without functions
n1 = 123
n1 ** 0.5

11.090536506409418

In [3]:
# Check if a number is multiple of 10
n1 = int(input("Enter a number"))
if(n1%10==0):
    print("Multiple of 10")
else:
    print("Not Multiple of 10")

Enter a number12
Not Multiple of 10

In [5]:
#Check if a number is a factor of 1000
n1 = int(input("Enter a number"))
if(1000%n1==0):
    print("Factor of 1000")
else:
    print("Not Factor of 1000")

Enter a number10
Factor of 1000